ion-content
 {background: linear-gradient(to bottom, #dad299, #b0dab9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
h2{
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-family: Georgia, serif;
  font-size: 30px;
}
h3{
  font-family: system-ui;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

p {
  font-family: system-ui;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
